#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Bratislava


nette:
	container:
		debugger: TRUE


application:
	errorPresenter: Error
	catchExceptions: FALSE
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


extensions:
	webloader: WebLoader\Nette\Extension
	gettextLatteExtension: h4kuna\Gettext\DI\GettextLatteExtension
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension


database:
	dsn: '%database.driver%:host=%database.host%;port=%database.port%;dbname=%database.dbname%'
	user: %database.user%
	password: %database.password%
	options:
		lazy: yes


doctrine:
	driver: %database.driver%
	host: %database.host%
	unix_socket: %database.unix_socket%
	dbname: %database.dbname%
	user: %database.user%
	password: %database.password%
	port: %database.port%
	metadata:
		App: %appDir%
		Wame\Core\Repositories: %appDir%/../vendor/wame/Core/repositories


webloader:
	css:
		frontend:
			filters:
				- @jwlCssMinFilter
			fileFilters:
				- @lessFilter
				- @wlCssFilter
			watchFiles:
				- {files: ["*.css", "*.less"], from: css}
				- {files: ["*.css", "*.less"], in: css}


services:
	router:
		class: Wame\Core\Router
	database: @Nette\Database\Connection

	# WebLoader
	wlCssFilter: WebLoader\Filter\CssUrlsFilter(%appDir%/../private/stylesheets/)
	lessFilter: WebLoader\Filter\LessFilter
	jwlCssMinFilter: Joseki\Webloader\CssMinFilter

	formFactory: Wame\Core\Forms\FormFactory
