#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
    database:
        prefix: 'wame_'


php:
    date.timezone: Europe/Bratislava


nette:
    container:
        debugger: TRUE


application:
    errorPresenter: Error
    catchExceptions: FALSE
    mapping:
        *: App\*Module\Presenters\*Presenter


session:
    expiration: 14 days


extensions:
    webloader: WebLoader\Nette\Extension
    gettextLatteExtension: h4kuna\Gettext\DI\GettextLatteExtension
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    doctrineExtension: Kappa\Doctrine\DI\DoctrineExtension
    doctrineMPTT: Kappa\DoctrineMPTT\DI\DoctrineMPTTExtension
    dynamicDiscriminatorMap: IPub\DoctrineDynamicDiscriminatorMap\DI\DoctrineDynamicDiscriminatorMapExtension

doctrine:
    driver: %database.driver%
    host: %database.host%
    unix_socket: %database.unix_socket%
    dbname: %database.dbname%
    user: %database.user%
    password: %database.password%
    port: %database.port%
    autoGenerateProxyClasses: true
    metadata:
        App: %appDir%
        Wame\Core\Entities: %appDir%/../vendor/wame/Core/entities
    types:
        neon: Wame\Core\Doctrine\Types\NeonType


webloader:
    css:
        default:
            sourceDir: '%appDir%/../private/stylesheets'
            remoteFiles:
                - https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css
                - https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css
            files:
                - wame/custom-bootstrap.less
            fileFilters:
                - @lessFilter
                - @jwlCssMinFilter
            watchFiles:
                - {files: ['*.less'], from: wame/}

    js:
        default:
            sourceDir: '%appDir%/../private/javascripts'
            remoteFiles:
                - https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js
                - https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js
            files:
#				- ../components/jquery/js/jquery.min.js
#				- ../components/jquery-ui/jquery-ui.min.js
                - ../components/bootstrap/js/alert.js
                - ../components/bootstrap/js/carousel.js
                - ../components/bootstrap/js/button.js
                - ../components/bootstrap/js/collapse.js
                - ../components/bootstrap/js/dropdown.js
                - ../components/bootstrap/js/modal.js
                - ../components/bootstrap/js/transition.js
                - nette.ajax.js
                - live-form-validation.js
                - /wame-add-param-to-url/add-param-to-url.js
                - /wame-bootstrap-modal/bootstrap-modal.js
            fileFilters:
                - @jwlJsMinFilter


services:
    # WebLoader
    wlCssFilter: WebLoader\Filter\CssUrlsFilter(%appDir%/../private/stylesheets/)
    lessFilter: WebLoader\Filter\LessFilter
    jwlCssMinFilter: Joseki\Webloader\CssMinFilter
    jwlJsMinFilter: Joseki\Webloader\JsMinFilter