#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
    database:
        prefix: 'wame_'


php:
    date.timezone: Europe/Bratislava


nette:
    container:
        debugger: TRUE


application:
    errorPresenter: Error
    catchExceptions: FALSE
    mapping:
        *: App\*Module\Presenters\*Presenter


session:
    autoStart: true
    expiration: 14 days


extensions:
    webloader: WebLoader\Nette\Extension
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    doctrineExtension: Kappa\Doctrine\DI\DoctrineExtension
    doctrineMPTT: Kappa\DoctrineMPTT\DI\DoctrineMPTTExtension
    #dynamicinatorMap: IPub\DoctrineDynamicDiscriminatorMap\DI\DoctrineDynamicDiscriminatorMapExtension
    replicator: Kdyby\Replicator\DI\ReplicatorExtension
    filtersExtension: Zenify\DoctrineFilters\DI\FiltersExtension
    eventDispatcherExtension: Symnedi\EventDispatcher\DI\EventDispatcherExtension
    migrations: Zenify\DoctrineMigrations\DI\MigrationsExtension
    fixtures: Wame\DoctrineFixtures\DI\FixturesExtension


doctrine:
    driver: %database.driver%
    host: %database.host%
    unix_socket: %database.unix_socket%
    dbname: %database.dbname%
    user: %database.user%
    password: %database.password%
    port: %database.port%
    autoGenerateProxyClasses: true
    metadata:
        App: %appDir%
        Wame\Core\Entities: %appDir%/../vendor/wame/Core/entities
    types:
        neon: Wame\Core\Doctrine\Types\NeonType


webloader:
    css:
        default:
            sourceDir: '%appDir%/../private/stylesheets'
            remoteFiles:
                - https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css
                - https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css
                - https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css

            files:
                - wame/custom-bootstrap.less

            fileFilters:
                - @lessFilter
                - @jwlCssMinFilter

            watchFiles:
                - {files: ['*.less'], from: wame/}

    js:
        default:
            sourceDir: '%appDir%/../private/javascripts'
            remoteFiles:
                - https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js
                - https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js
                - https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js
#               FONT AWESOME embed code
                - https://use.fontawesome.com/c81c8277da.js

            files:
#				- ../components/jquery/js/jquery.min.js
#				- ../components/jquery-ui/jquery-ui.min.js
                - ../components/bootstrap/js/alert.js
                - ../components/bootstrap/js/carousel.js
                - ../components/bootstrap/js/button.js
                - ../components/bootstrap/js/collapse.js
                - ../components/bootstrap/js/dropdown.js
                - ../components/bootstrap/js/modal.js
                - ../components/bootstrap/js/transition.js
                - nette.ajax.js
                - live-form-validation.js
                - /wame-add-param-to-url/add-param-to-url.js
                - /wame-bootstrap-modal/bootstrap-modal.js
                - init.js

            fileFilters:
                - @jwlJsMinFilter


tracy:
    bar:
        - Nextras\MailPanel\MailPanel(%tempDir%/mail-panel-latte)


services:
    # WebLoader
    wlCssFilter: WebLoader\Filter\CssUrlsFilter(%appDir%/../private/stylesheets/)
    lessFilter: WebLoader\Filter\LessFilter
    jwlCssMinFilter: Joseki\Webloader\CssMinFilter
    jwlJsMinFilter: Joseki\Webloader\JsMinFilter

    - Wame\Core\Status\ControlStatuses

    # Doctrine filters
    - Wame\Core\Doctrine\Filters\SoftdeletableFilter

    # Doctrine listeners
    - {class: Wame\Core\Events\PrePersistListener, tags: [kdyby.subscriber]}

    nette.latteFactory:
        setup:
            - addFilter(timeAgo, @Wame\Core\Filters\TimeAgoFilter)

    # Filters
    - Wame\Core\Filters\TimeAgoFilter

    - Wame\Core\Forms\IStatusTypeFormContainerFactory

    StatusTypeRegister:
        class: Wame\Core\Registers\StatusTypeRegister

    - Wame\Core\Cache\TemplatingCacheFactory
    - Wame\Core\Registers\RepositoryRegister

    # Commands
    fixtureCommand:
        class: Wame\CoreModule\Commands\FixtureCommand
        tags: [kdyby.console.command]

    loadDataFixturesDoctrineCommand:
        class: Wame\CoreModule\Commands\LoadDataFixturesDoctrineCommand
        tags: [kdyby.console.command]

    nette.mailer:
        class: Nette\Mail\IMailer
        factory: Nextras\MailPanel\FileMailer(%tempDir%/mail-panel-mails)


fixtures:
    locale: "sk_SK"
    seed: 1

decorator:
    BaseRepository:
        inject: yes